<h1>Welcome!</h1>
<br />
<br />
<h3>This is the homepage and where you will learn the steps to play the game.</h3>
<br />
<br />

<p>

The steps of the game are simple:<br /><br />

1: In the search bar input "localhost:4567/game/"<br />
2: Now Player 1 enter your move (rock, paper, scissor) followed by '/'<br />
3: Now Player 2 enter your move (rock, paper, scissor)<br />
4: Now hit Enter<br />

</p>
